
body{
    text-align: center !important;
    height: 100vh;
}



.loginStyle{
       display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
}

#myForm{
    background-color: orange;
}

tableWrapper{
    display: flex;
}


#games, #daGrids{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content; center;
}

#gp1Grid > table {
    width: 450px;
    height: 450px;
}

 #gp2Grid > table, #myGrid, #whereIveShot {
    width: 450px;
    height: 450px;
 }

