<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="testVue.css">
</head>
<body>

   <div id="app">
       <a href="/web/games.html">Public Leaderboards</a>
       <button v-if="loggedIn == true" id="logOutButton" v-on:click="testLogout"> Log Out</button>
        <form v-if="loggedIn == false" id="signInUp" name="signInUp">
                <div > Enter Username:
                    <input  v-model="un" type="text" id="username" v-on:input="createCredentials" name="userName">
                </div>
                <div > Enter password:
                    <input   v-model="pw" type="text" id="password" v-on:input="createCredentials" name="password">
                </div>
                <div class="buttons">
                    <button id = "signinButton" type="button"  v-on:click="testLogin">Sign in</button>
                    <button id = "signupButton" type="button"  v-on:click="testSignup">Sign up</button>
                </div>
        </form>
        <div v-if="loggedIn == true" id="userInterface">
             <single-file-component></single-file-component>
        </div>
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="testVue.js"></script>
   <script type="module" src="component.js"></script>

</body>
</html>