<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>

   <div id="app">
        <form v-if="loggedIn == false" class="form-group w-50 p-3" id="signInUp" name="signInUp">
            <div class="row">
                <div class="col"> Enter Username:
                    <input class="form-control" type="text" id="username" name="userName">
                </div>
                <div class="col"> Enter password:
                    <input class="form-control" type="text" id="password" name="password">
                </div>
            </div>
            <div class="row">
                <button id = "signinButton" type="button"  v-on:click="testLogin">Sign in</button>
                <button id = "signupButton" type="button"  v-on:click="testSignup">Sign up</button>
            </div>
        </form>


        <div v-if="loggedIn == true" id="userInterface">

            <button id="logOutButton" v-on:click="testLogout"> Log Out</button>

             <single-file-component></single-file-component>

            <form id="shipSelector">
                <div class="form-group row">
                    <label for="shipTypeSelector" class="col-sm-6 col-form-label">ship type:
                    </label>
                    <div class="col-sm-6">
                        <select class="form-control" id="shipTypeSelector" name="shipTypeSelector">
                            <option>Destroyer</option>
                            <option>Aircraft Carrier</option>
                            <option>Helicopter</option>
                            <option>Submarine</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipDirection" class="col-sm-6 col-form-label">ship direction:
                    </label>
                    <div class="col-sm-6">
                        <select class="form-control" id="shipDirection" name="shipDirection">
                            <option>Right</option>
                            <option>Down</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <button id="addShipBtn">addShip!</button>
                </div>
            </form>
        </div>
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="testVue.js"></script>
   <script type="module" src="component.js"></script>

</body>
</html>