

td, tr, th {
    border: solid 1px black;
    width: 1.5em;
    height: 1.5em;
}

#daGrids {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.table {
    border: solid 1em grey;
}

#selectors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#centerDiv{
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#centerDiv > table {
     border: solid 1em orange;

}

caption {
    font-weight: bold;
    font-size: 1.5em;
}