<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="testVue.css">
</head>
<body>

   <div id="app">
       <a href="/web/games.html">Public Leaderboards</a>
        <br>
        <form v-if="loggedIn == false" class="form-group w-50 p-3" id="signInUp" name="signInUp">
            <div class="row">
                <div class="col"> Enter Username:
                    <input class="form-control" v-model="un" type="text" id="username" v-on:input="createCredentials" name="userName">
                </div>
                <div class="col"> Enter password:
                    <input class="form-control"  v-model="pw" type="text" id="password" v-on:input="createCredentials" name="password">
                </div>
            </div>
            <br>
            <div class="row">
                <button id = "signinButton" type="button"  v-on:click="testLogin">Sign in</button>
                <button id = "signupButton" type="button"  v-on:click="testSignup">Sign up</button>
            </div>
        </form>

        <div v-if="loggedIn == true" id="userInterface">

            <button id="logOutButton" v-on:click="testLogout"> Log Out</button>

             <single-file-component></single-file-component>


        </div>
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="testVue.js"></script>
   <script type="module" src="component.js"></script>

</body>
</html>